{% extends '::admin.html.twig' %}

{% block body -%}

<table class="records_list table table-striped well" id="videosAdminList">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th style="text-align: center">Główna</th>
            <th style="text-align: center">Nagłówek</th>
            <th style="text-align: center">Kolejność</th>
            <th style="text-align: right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.title }}</td>
            <td>{{ entity.plot|truncate(30) }}</td>
            <td class="frontColumn">{% if entity.isFront == 1 %}<i class="icon-ok">1</i>{% endif %}</td>
            <td class="mainColumn">{% if entity.isMain == 1 %}<i class="icon-ok">1</i>{% endif %}</td>
            <td class="orderColumn">
                <div class="input-append">
                    <input type="text"
                           autocomplete="off"
                           value="{{ entity.getOrder() }}"
                           class="orderInput"
                           data-video-id="{{ entity.getId() }}"
                           data-order-url="{{ path('admin_video_updateOrder',{ id: entity.getId(), order : 'orderNumber' }) }}" />
                    <span class="add-on saveOrder">
                        <span class="icon-ok"></span>
                    </span>
                </div>
                <div class="hide-text">{{ entity.getOrder() }}</div>
            </td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('admin_video_show', { 'id': entity.id }) }}" class="btn">pokaż</a>
                    <a href="{{ path('admin_video_edit', { 'id': entity.id }) }}" class="btn">edycja</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_video_new') }}" class="btn">
    Stwórz nowy
</a>
    {% endblock %}
