{% macro fullVideo(video) %}
<div class="row-fluid video-item full-video">
    <div class="video-pic span2">
        <img src="/uploads/{{ video.getMainImage() }}" id="mainImage"/>
        <a class="watchYoutube" href="http://youtube.com/watch?v={{ video.getYoutube() }}" rel="prettyPhoto"></a>
    </div>

    <div class="video-description span5">
        <h3>{{ video.getTitle() }}</h3>
        <span><i>Director:</i> {{ video.getDirectorsName() }}</span>
        <span><i>Released:</i> {{ video.getProductionYear() }}</span>
        <span><i>Cast:</i> {{ video.getCast() }}</span>
        <span><i>Genre:</i> {{ video.getCategory().getTitle() }}</span>
        <span><i>Runtime:</i> {{ video.getDuration() }}</span>
        <span><i>Awards:</i> {{ video.getPrizes() }}</span>
    </div>

    <div class="video-plot span5">
        <h3>Plot</h3>
        <span class="plot">{{ video.getPlot() }}</span>
    </div>

    {% if video.getImages()|length > 0 %}
    <div class="video-graphic span10 pull-right">
        <h3>Graphic materials</h3>
        <ul class="thumbnails">
            {% for image in video.getImages() %}
            <li><a href="/uploads/{{ image.getUrl() }}" rel="prettyPhoto[gallery]"><img src="/uploads/{{ image.getThumbnail() }}" /></a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endmacro fullVideo %}

{% macro mainVideo(video) %}
<div class="row-fluid video-item main-video">
    <div class="video-pic span2">
        <img src="/uploads/{{ video.getMainImage() }}" id="mainImage"/>
        <a class="watchYoutube" href="http://youtube.com/watch?v={{ video.getYoutube() }}" rel="prettyPhoto"></a>
        <a class="videoLink" href="{{ path("video", {id: video.getId()}) }}"></a>
    </div>       
    <div class="span4 video-description">
        <h3>{{ video.getTitle() }}</h3>
        <span><i>Director:</i> {{ video.getDirectorsName() }}</span>
        <span><i>Genre:</i> {{ video.getCategory().getTitle() }}</span>
        <span><i>Cast:</i> {{ video.getCast() }}</span>
        <span class="plot">{{ video.getPlot() }}</span>
    </div>
    <div class="span6">
        <div class="embedVideo pull-right"><iframe width="410" height="250" src="//www.youtube.com/embed/{{ video.getYoutube() }}" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>
{% endmacro mainVideo %}

{% macro shortVideo(video) %}
<div class="span6 row-fluid video-item short-video">
    <div class="video-pic span4">
        <img src="/uploads/{{ video.getMainImage() }}" id="mainImage"/>
        {% if video.getYoutube() %}
        <a class="watchYoutube" href="http://youtube.com/watch?v={{ video.getYoutube() }}" rel="prettyPhoto"></a>
        {% endif %}
        <a href="{{ path("video", {id: video.getId()}) }}" class="videoLink"></a>
    </div>      
    <div class="span8 video-description">
        <h3>{{ video.getTitle() }}</h3>
        <span><i>Director:</i> {{ video.getDirectorsName() }}</span>
        <span><i>Genre:</i> {{ video.getCategory().getTitle() }}</span>
        <span><i>Cast:</i> {{ video.getCast() }}</span>
        <span class="plot">{{ video.getPlot() }}</span>
    </div>
</div>
{% endmacro shortVideo %}