{% extends '::base.html.twig' %}

{% block title %}{{ category.getTitle() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    'bundles/polmedia/less/categories.less'
filter='less,cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
<div class="hr">
    <h1>{{ category.getTitle() }}</h1>
</div>

<ul id="categoryList">
{% for video in videos %}
    <li><a href="{{ path("video",{id : video.getId()}) }}">{{ video.getTitle()|truncate(60) }}</a></li>
{% endfor %}
</ul>
{% endblock %}