{% extends '::admin.html.twig' %}

{% block body -%}
<table class="records_list table table-striped well" id="imagesAdminList">
    <thead>
        <tr>
            <th>Id</th>
            <th style="text-align: center">Film</th>
            <th style="text-align: center">Duże zdjęcie</th>
            <th style="text-align: right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.getVideo() is not null %}<a href="{{ path('admin_video_show', { 'id': entity.getVideo().id }) }}">{{ entity.getVideo().getTitle() }}</a>{%else%}brak{% endif %}</td>
            <td>{{ entity.getUrl() }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('admin_image_show', { 'id': entity.id }) }}" class="btn">pokaż</a>
                    <a href="{{ path('admin_image_edit', { 'id': entity.id }) }}" class="btn">edycja</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_image_new') }}" class="btn">
    Stwórz nowy
</a>
    {% endblock %}
